.color-choice {
  padding-top: 29px; }

.color-choice__title {
  margin-left: 10px;
  font-size: 20px; }

.color-choice__pattern {
  display: inline-block;
  margin-top: 21px;
  margin-right: 5px;
  margin-bottom: 21px; }

.color-choice__pattern:first-of-type {
  margin-left: 10px; }

.color-choice__pattern:last-of-type {
  margin-right: 0; }

.color-choice__pattern input {
  display: none; }

.color-choice__pattern label {
  display: inline-block;
  width: 60px;
  height: 59px;
  background-repeat: no-repeat; }

.color-choice__pattern:nth-of-type(1) label {
  background-image: url(/images/color-patterns/pattern-1.png); }

.color-choice__pattern:nth-of-type(2) label {
  background-image: url(/images/color-patterns/pattern-2.png); }

.color-choice__pattern:nth-of-type(3) label {
  background-image: url(/images/color-patterns/pattern-3.png); }

.color-choice__pattern:nth-of-type(4) label {
  background-image: url(/images/color-patterns/pattern-4.png); }

.color-choice__pattern:nth-of-type(5) label {
  background-image: url(/images/color-patterns/pattern-5.png); }

.color-choice__pattern:nth-of-type(6) label {
  background-image: url(/images/color-patterns/pattern-6.png); }

.color-choice__pattern:nth-of-type(7) label {
  background-image: url(/images/color-patterns/pattern-7.png); }

.color-choice__pattern:nth-of-type(1) input:checked + label {
  background: url(/images/color-patterns/pattern-1-checked.png) no-repeat; }

.color-choice__pattern:nth-of-type(2) input:checked + label {
  background: url(/images/color-patterns/pattern-2-checked.png) no-repeat; }

.color-choice__pattern:nth-of-type(3) input:checked + label {
  background: url(/images/color-patterns/pattern-3-checked.png) no-repeat; }

.color-choice__pattern:nth-of-type(4) input:checked + label {
  background: url(/images/color-patterns/pattern-4-checked.png) no-repeat; }

.color-choice__pattern:nth-of-type(5) input:checked + label {
  background: url(/images/color-patterns/pattern-5-checked.png) no-repeat; }

.color-choice__pattern:nth-of-type(6) input:checked + label {
  background: url(/images/color-patterns/pattern-6-checked.png) no-repeat; }

.color-choice__pattern:nth-of-type(7) input:checked + label {
  background: url(/images/color-patterns/pattern-7-checked.png) no-repeat; }

.color-choice__description {
  padding-left: 10px;
  padding-top: 2px;
  letter-spacing: 0.1px; }
