.about-product {
  display: flex;
  justify-content: flex-end;
  width: 1145px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.about-product__inner {
  padding: 30px 25px;
  padding-bottom: 41px;
  width: 828px;
  background-color: white;
  border-radius: 5px;
}

.about-product__title {
  margin-bottom: 16px;
  font-size: 26px;
}

.about-product__description {
  position: relative;
  margin-bottom: 25px;
  padding-left: 91px;
  padding-right: 28px;
}

.about-product__description--extra-margin {
  margin-bottom: 33px;
}

.about-product__description--icon::before {
  content: "";
  position: absolute;
  left: 3px;
  width: 60px;
  height: 59px;
  background-repeat: no-repeat;
}

.about-product__description--icon:first-of-type::before {
  background-image: url(/images/icons/icon-window.png);
}

.about-product__description--icon:nth-of-type(2)::before {
  background-image: url(/images/icons/icon-tree.png);
}

.about-product__description--modify {
  margin-bottom: 11px;
  padding-left: 53px;
  padding-right: 25px;
}

.about-product__description--modify span {
  position: absolute;
  left: 1px;
  vertical-align: middle;
  padding: 3px 9px;
  border: 2px solid $color-dark-grey;
  border-radius: 50%;
  font-size: 20px;
}

.about-product__description-icon-element {
  top: 8px;
}