$color-cyan-light: rgb(225,240,248);
$color-bright-red: rgb(243,98,64);
$color-grey: rgb(138,138,138);
$color-dark-grey: rgb(72,71,69);
$color-dark-blue: rgb(95,105,115);
$color-cyan: rgb(123,195,213);